body
{
  text-align: center;
  background-color: white;
  margin: 10px; 
}

#content
{
    width:700px;
    margin:0px auto;
    padding:15px;
    border:1px solid #eee;
    background-color:#eee;
    height: auto;
}

button
{
    margin:10px;
}

#midi{
    position: relative;
    width: 700px;
}

/* for centering purposes only */
#keyboard {
    height: 250px;
    margin-left: 25px;
    overflow: hidden;
}

/* allows us to re-use CSS for each octave */
div.octave{
    position:relative;
    float:left;
}

.active
{
    border: 2px solid red;
}

#legend
{
    margin: 10px;
}

/* note: position is relative, meaning each white key is added to the right of the previous */
.white {
    float: left;
    width: 44px;
    height: 230px;
    background-color: #F4F4F4;
    border: 1px solid #626262;
    position: relative;
    top: 0px;
    border-radius: 0 0 15px 15px;
}

/* note: position is absolute, meaning we specify exactly the location of the black keys */
div.black {
    float: left;
    width: 22px;
    height: 160px;
    background-color: #000000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    position: absolute;
    top: 206 px;
    z-index: 100;
    border-radius: 0 0 5px 5px;
}

/* spaces out the children according to where the black keys go on a piano */
div.flats :nth-child(1) {
    margin-left: 33.5px;
}
div.flats :nth-child(2) {
    margin-left: 78.5px;
}
div.flats :nth-child(3) {
    margin-left: 169px;
}
div.flats :nth-child(4) {
    margin-left: 214px;
}
div.flats :nth-child(5) {
    margin-left: 258.5px;
}

img
{
    height:50px;
}

#cool
{
    height: 300px;
    position: relative;
    overflow: scroll;
    white-space: nowrap;
}
.note
{
    display: inline-block;
    height: 10%;
    position: relative;
    border-radius: 35px;
    border: 1px solid black;
    z-index: 10;
}

#display
{
    height: inherit;
}

.line
{
    height: 1px;
    width: 700px;
    position: absolute;
    border: 1px solid black
}
